@tailwind base;
@tailwind components;
@tailwind utilities;


/* The root container takes the full height of the viewport */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Ensure main content area expands to take available space */
main {
  flex: 1;
  background: transparent; /* Overwrites previous main background settings */
}


body {
  /* background-image: url('/assets/backgrounds/treehouse.jpg');  */
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html, body{
  width: 100vw; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0;
  /* overflow: hidden; */
}

#section-container{
  /* max-height: 75vh; */
  /* overflow-y: auto; */
}

.task-text{
  text-shadow: -2px 2px black;
  color: white
}




.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}



.task-sign{
  background-image: url('/assets/task-sign.png'); 
  background-size:cover; 
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  /* margin: 0px 20px 0px 20px; */
}

.sticky-note{
    background-image: url('/assets/sticky-note.png'); 
    background-size:cover; 
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    /* margin: 0px 20px 0px 20px; */
}

.sign{
  background-image: url('/assets/hanging-sign.webp'); 
  background-size: contain; 
  background-position:left left;
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;

}

.nav-sign{
  background-image: url('/assets/sign.png'); 
  background-size: contain; 
  background-position:left left;
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
}

.wood-sign{
  background-image: url('/assets/sign.png'); 
  background-size: contain; 
  background-position:left left;
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
}



.btn-github{
  background-image: url('/assets/github.png');
  height: 25px;
  width: 25px;
}


.btn-sign{
  display: inline-flex;
  min-height: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: bolder;
  text-wrap: wrap;
  color: rgb(248, 243, 243);
  text-shadow: -2px 2px black;
}

.task-header-text{
  text-shadow: -1px 3px #87c062;
  color: #514f02
}


main {
  background: transparent;
}

.spinner {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: #148156;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }

}

.wobble:focus{
  animation-name: wobble-hor-top;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
    
  /* shorthand
  animation: wobble-hor-top 2.2s ease-out 0.6s 1 alternate none;*/
}
@keyframes wobble-hor-top {
    
  0% {
    transform:translateX(0%);
    transform-origin:50% 50%;
  }
  15% {
    transform:translateX(-30px) rotate(6deg);
  }
  30% {
    transform:translateX(15px) rotate(-6deg);
  }
  45% {
    transform:translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform:translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform:translateX(-6px) rotate(1.2deg);
  }
  100% {
    transform:translateX(0%);
    transform-origin:50% 50%;
  }
}