@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure html and body take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* The root container takes the full height of the viewport */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure main content area expands to take available space */
main {
  flex: 1;
  background: transparent; /* Overwrites previous main background settings */
}

/* Set background for the body */
body {
  background-image: url('/assets/vecteezy_cartoon-tropical-forest-landscape-ancient-trees_19804669.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  padding: 0; 
}