@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: white;
}

input {
  color: white;
}

body {
  background-image: url('/assets/vecteezy_cartoon-tropical-forest-landscape-ancient-trees_19804669.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  padding: 0; 

}

@keyframes rainbow-border {
  0% { border-color: red; }
  14% { border-color: orange; }
  28% { border-color: yellow; }
  42% { border-color: green; }
  57% { border-color: blue; }
  71% { border-color: indigo; }
  85% { border-color: violet; }
  100% { border-color: red; }
}

.animated-border {
  animation: rainbow-border 3s linear infinite;
}

.card-title {
  text-align: center;
}

 